.equipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.integrante {
  text-align: center;
  margin: 20px;
  flex-basis: 15%;
}

.integrante img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid #f66f08;
  padding: 3px;
}

.integrante p {
  margin-top: 10px;
}

.integrante img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.github {
  font-size: 20px;
  color: #f47c5e;
  font-weight: lighter;
}

main {
  background: linear-gradient(#000000, #131c2d, #000000);
  font-size: 25px;
  color: #f39042;
  font-weight: bold;
}

main a:hover {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}