body {
  font-family: 'Montserrat', sans-serif;
  display: block;
  width: 100%;
}

.container h1 img {
  margin: 10px;
  width: auto;
  height: 220px;
  filter: saturate(130%);
}

.container h2 {
  font-weight: bold;
  font-size: 50px;
  color: #ed603d;
  text-align: center;
  padding: 20px 0 10px;
}

h2::first-letter {
  color: white;
  background-color: #f39042;
  padding: 0.1em;
  font-weight: bold;
  font-size: 1.2em;
}

h4::first-letter {
  color: white;
  background-color: #f39042;
  padding: 0.1em;
  font-weight: bold;
  font-size: 1.2em;
}

.principal {
  width: 100%;
  position: relative;
  background: linear-gradient(#000000, #131c2d, #000000);
}

.principal p {
  font-style: normal;
  font-size: 20px;
  color: #f39042;
  text-align: left;
  padding: 10px 30px;
}

.principal h3 {
  position: relative;
  padding: 5px 120px 0px 120px;
}

.principal h4 {
  font-weight: bold;
  font-size: 30px;
  color: #ed603d;
  text-align: center;
  padding: 10px 0 0 0;
}

.principal h5 {
  font-weight: bold;
  font-size: 25px;
  color: #f47c5e;
  text-align: center;
  padding: 20px 0 10px;
}

.principal ul {
  font-style: normal;
  font-size: 20px;
  color: #f39042;
  text-align: left;
  padding: 0 20px 20px;
}

.principal li:before {
  content: "-";
  margin: 10px;
  color: #f39042;
}

.footer {
  text-align: center;
  padding: 20px;
  background: url(imagens-projeto/plano-de-fundo.jpg);
  background-size: cover;
}

.footer p {
  color: #f39042;
  padding: 30px;
  font-size: 15px;
}

.caixa {
  display: flex;
  align-items: center;
  margin: -20px;
  padding: 13px;
  background-size: cover;
}

.caixa::before {
  content: "";
  background-image: url(imagens-projeto/plano-de-fundo.jpg);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scaleX(-1);
}

.caixa nav {
  position: absolute;
  top: 10px;
  right: 30px;
}

.caixa nav li {
  display: block;
  margin: 8px;
}

.caixa nav a {
  text-transform: uppercase;
  color: #f39d5c;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.caixa nav a:hover {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}

video {
  width: 400px;
  height: 200px;
  mix-blend-mode:lighten;
  background-color: #000000;
  margin: 20px;
}